@import './base.css';


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh; 
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom right, #040120, #0c173d);
}

#app {
    min-height: 100vh; 
    width: 100%; 
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        padding: 0;
    }
}